<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel='stylesheet' type="text/css" href="../static/main.css">
        <title>Ethilog Audits</title>
    </head>
    <body>
        <div class="container box">
            <img src="../static/ethi_tpm_logo.png" alt="the_logo">
            <h3>Audit reports</h3>
            <div class="list-group">
                <!---<li class="list-group-item">
            <a download="audit.csv" href="/static/csv/audit.csv" ><i class="bi-download"></i> audit.csv</a>
        </li>--->
                {% for report in reports %}
                <a class="list-group-item" href="{{ url_for('audit_export', filename=report) }}" download="{{report}}">
                        <i class="bi-download"></i> {{report}}
                    </a>
                {% endfor %}
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    </body>
</html>